.categoriesFilters {
    flex-grow: 1;
    display: flex;
    gap: 1em;
}

.categoriesFilters__input {
    flex-grow: 1;
    height: 2.2em;
    font-size: 0.90em;
    padding: 0em 0.8em;
    border-radius: 0.5em;
    border-color: var(--terceary-border-color);
}

.categoriesFilters__select-container {
    display: flex;
    gap: 0.2em;
}

.categoriesFilters__select {
    padding: 0em 1em;
}

@media (width < 570px) {
    .categoriesFilters__select-container {
        display: none;
    }
}