.blogComponent {
    display: flex;
    flex-direction: column;
    border: 0.1em solid var(--border-color);
    border-radius: 0.1em;
    filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.078));
}

.blogComponent__header {
    border-bottom: 0.1em solid var(--border-color);
    padding: 0.2em;
    font-size: 0.7em;
    font-weight: 100;
    text-align: center;
}

.code__content {
    background-color: var(--primary-background-color);
    position: relative;
}