.post {
    display: inline-flex;
    flex-direction: column;
    border-top: 0.1em solid var(--border-color);
    padding: 1.84285714286em 0em;
    border-width: max(1px, 0.0625rem);
    overflow: hidden;
    color: var(--secondary-text-color);
  }

  .post__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.4em;
  }

  .post__title-container {
    display: flex;
    align-items: center;
    gap: 0.3em;
    font-size: 1.3em;
  }

  .post__time {
    font-size: 0.85em;
    text-transform: lowercase;
    text-wrap: balance;
  }

  .post__main {
    flex-grow: 1;
    font-size: 0.8em;
  }

  .post__link {
    font-size: 0.97em;
    color: var(--anchor-color);
    font-weight: 600;
    text-wrap: balance;
  }