.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    font-size: 1.2em;
    margin-block: 2em;
}

.notFound__icon {
    scale: 3.5;
    filter: blur(0.2px) drop-shadow(0px 0.5em 12px white);
}