:root {
    --body-background-color: #000000;
    --secondary-background-color: #67676754;
    --ternary-background-color: #18181842;
    --quaternary-background-color: #6363631f;
    --font-size: 18px;
    --border-color: rgba(28, 28, 28, 1);
    --text-color: #d6e4f1;
    --secondary-text-color: #ccd9e6;
    --border-radius-value: 0.5em;
    --secondary-border-radius-value: 0.3em;
    --font-family: 'roboto';
    --button-background-color: transparent;
    --button-background-color-hover: #f1f1f1;

    --terceary-text-color: #68737f;
    --header-background-color: #1c2128;
    --card-background-color: #2b3038;
    --secondary-border-color: #cdd9e51a;
    --terceary-border-color: #cdd9e533;
    --anchor-color: #539bf5;
    --input-text-color: #636e7b;
    --backdrop-color: #1c2128cc;
    --background-heatmap-rec: var(--secondary-background-color);
    --background-heatmap-rec-2-day: #0e4429;
    --background-heatmap-rec-4-day: #006d32;
    --background-heatmap-rec-10-day: #26a641;
    --background-heatmap-rec-20-day: #39d353;
}

*,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.4811));
}

body {
    background-color: var(--body-background-color);
    color: var(--text-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.04'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

a {
    color: inherit;
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
    border: 0.1em solid var(--secondary-border-color);
    border-radius: 0.2em;
    color: var(--text-color);
    background-color: var(--button-background-color);
    cursor: pointer;
}

input {
    padding: 0.5em;
}

select {
    padding-inline: 0.4em;
}

input,
select {
    background-color: transparent;
    border: 0.1em solid var(--border-color);
    border-radius: 0.2em;
    outline: none;
    color: var(--text-color);
}

p {
    color: var(--secondary-text-color);
    margin: 0;
}

ul {
    list-style: none;
}

input:focus-within,
select:focus-within {
    border: 0.1em solid var(--anchor-color);
}

button:hover {
    background-color: var(--button-background-color-hover);
    border-color: var(--terceary-border-color);
    color: black;
}

@media (width >=1440px) {
    body {
        font-size: 20px;
    }
}

@media (width >=1690px) {
    body {
        font-size: 22px;
    }
}

@media (width >=1908px) {
    body {
        font-size: 25px;
    }
}

@media (width >=2250px) {
    body {
        font-size: 28px;
    }
} 