:root {
    --font-size: 15px;
    --font-family: 'roboto';
    --text-color: #ADBAC7;
    --body-background-color: #22272e;
    --header-background-color: #1c2128;
    --card-backgournd-color: #2b3038;
    --header-border-color: #444c56;
}

*, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--body-background-color);
    color: var(--text-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
}

a {
    color: inherit;
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}