:root {
    --font-size: 15px;
    --font-family: 'roboto';
    --text-color: #ADBAC7;
    --secondary-text-color: #768390;
    --terceary-text-color: #68737f;
    --body-background-color: #22272e;
    --header-background-color: #1c2128;
    --card-background-color: #2b3038;
    --secondary-background-color: #2d333b;
    --border-color: #444c56;
    --secondary-border-color: #cdd9e51a;
    --terceary-border-color: #cdd9e533;
    --terceary-border-color: #768390;
    --button-background-color: #373e47;
    --secondary-button-background-color: #444c56;
    --ancord-color: #539bf5;
    --input-text-color: #636e7b;
    --border-radius-value: 0.375em;
    --backdrop-color: #1c2128cc;
    --background-heatmap-rec: var(--secondary-background-color);
    --background-heatmap-rec-2-day: #0e4429;
    --background-heatmap-rec-4-day: #006d32;
    --background-heatmap-rec-10-day: #26a641;
    --background-heatmap-rec-20-day: #39d353;
}

*, *::after {
    box-sizing: border-box;
}

html{
    scrollbar-gutter: stable;
}

h1, h2, h3, h4 {
    margin: 0;
}
body {
    background-color: var(--body-background-color);
    color: var(--text-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
    border: 0.1em solid var(--secondary-border-color);
    border-radius: 0.42857142857em;
    color: var(--text-color);
    background-color: var(--button-background-color);
    cursor: pointer;
}

input {
    background-color: transparent;
    border: 0.1em solid var(--border-color);
    border-radius: 0.2em;
    outline: none;
    padding: 0.5em;
    color: var(--text-color);
}

input:hover {
    border: 0.1em solid var(--ancord-color);
}

button:hover {
    background-color: var(--secondary-button-background-color);
    border-color: var(--terceary-border-color);
}

@media (width >= 1000px) {
    body {
        font-size: 14px;
    }
}


@media (width >= 1342px) {
    body {
        font-size: 16px;
    }
}

@media (width >= 1449px) {
    body {
        font-size: 19px;
    }
}

@media (width >= 1690px) {
    body {
        font-size: 22px;
    }
}

@media (width >= 1908px) {
    body {
        font-size: 25px;
    }
}

@media (width >= 2250px) {
    body {
        font-size: 28px;
    }
}