---
import LastPostSection from "@/components/Sections/LastPostSection.astro"
import LastPostsSection from "@/components/Sections/LastPostsSection.astro"
import MainSection from "@/components/Sections/MainSection.astro"
import CategoriesSection from "@/components/Sections/SitesSection.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Index">
    <MainSection>
        <div class="firstSections__container">
            <LastPostSection />
            <CategoriesSection />
        </div>
        <LastPostsSection />
    </MainSection>
</Layout>

<style>
    .firstSections__container {
        display: flex;
        padding: 1em;
    }
</style>
