---
import { LastPostsSection } from '@/components'
import LastPostSection from "@/components/Sections/LastPostSection.astro"
import CategoriesSection from "@/components/Sections/SitesSection.astro"
import Layout from "@/layouts/Layout.astro"
import { getCollection } from 'astro:content'

const posts = await getCollection('posts')
---

<Layout title="Jes015's blog">
    <div class="firstSections__container">
        <LastPostSection />
        <CategoriesSection />
    </div>
    <LastPostsSection client:load postsData={posts} />
</Layout>

<style>
    .firstSections__container {
        display: flex;
        padding: 1em;
    }
</style>
