---
import { CFrontRoutes } from "@/models"
import { getBreadcrumbs } from "@/utils"
const breadcrumbs = getBreadcrumbs(Astro.url);
---

<div class="breadcrumbs">
  {
    Astro.url.pathname === CFrontRoutes.home.path
    ?
    <span class="breadcrumbs__first" transition:name="breadcrumb__firstPart" >{breadcrumbs.firstPartOfThePath}</span>
    :
    <a href={CFrontRoutes.home.path} class="breadcrumbs__first" transition:name="breadcrumb__firstPart" >{breadcrumbs.firstPartOfThePath}</a>
  }
  <span class="breadcrumbs__last">{breadcrumbs.lastPartOfThePath}</span>
</div>

<style>
  .breadcrumbs {
    font-size: 0.875em;
  }
  .breadcrumbs__first {
    font-weight: 900;
    font-size: 1.3em;
  }
  .breadcrumbs__last {
    font-size: 0.875em;
  }
</style>
