---
import { getBreadcrumbs } from "@/utils"
const breadcrumbs = getBreadcrumbs(Astro.url);
---

<div class="breadcrumbs">
  <span class="breadcrumbs__first">{breadcrumbs.firstPartOfThePath}</span>
  <span>{breadcrumbs.lastPartOfThePath}</span>
</div>

<style>
  .breadcrumbs {
    font-size: 0.875em;
  }
  .breadcrumbs__first {
    font-weight: 100;
  }
  .breadcrumbs__last {
    font-size: 0.875em;
  }
</style>
