---
import Navigation from "@/components/Navigation.astro"

import { getPathName } from "@/utils"
---

<header class="header">
  <div class="header__main-container">
    <div class="header__second-container">
      <div>
        <span>{getPathName(Astro.url)}</span>
      </div>
      <div>
        <input class="header__input" placeholder="Type to search" type="text">
      </div>
    </div>
    <Navigation />
  </div>
</header>

<style>
  .header {
    display: flex;
    align-items: center;
    background-color: var(--header-background-color);
    border-bottom: 0.1em solid var(--border-color);
    padding: 0em 2em;
  }

  .header__main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .header__second-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4em;
    font-weight: 800;
    text-transform: capitalize;
    text-wrap: balance;
  }

  .header__input {
    width: 21.875em;
    height: 2em;
  }
</style>
