---
import { Search } from "@/components/"
import Navigation from "@/components/Navigation.astro"

import { getPathName } from "@/utils"
---

<header class="header">
  <div class="header__container">
    <div class="header__second-container">
      <span id="header__breadcrumbs">{getPathName(Astro.url)}</span>
      <div class="search__container">
        <Search client:only="react" />
      </div>
    </div>
    <Navigation />
  </div>
</header>

<style>
  .header {
    display: flex;
    align-items: center;
    background-color: var(--header-background-color);
    border-bottom: 0.1em solid var(--border-color);
    padding: 0em 2em;
  }

  .header__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .header__second-container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 0.3em;
    font-weight: 800;
    text-transform: capitalize;
    text-wrap: balance;
  }

  .search__container {
    display: flex;
    justify-content: right;
    width: 22.875em;
    height: 2.6em;
  }

  @media (width < 511px) {
    .header {
      padding: 0em 1em;
    }
    .search__container {
      width: auto;
    }
  }
</style>
