---
import LinkSVG from '@/assets/images/link.svg'
import type { TLinks } from '@/models'
import { Image } from 'astro:assets'

interface Props {
    data: TLinks
}

const { data } = Astro.props
---

<div class="links__container">
    {Object.values(data).map((link) => (
        <div class="link__container">
            <Image src={LinkSVG} alt="link icon" width="16" style={{ rotate: '-37deg'}} />
            <a class="link__ancord" href={link.url} target="_blank">{link.name}</a>
        </div>
    ))}
</div>

<style>
    .links__container {
        display: flex;
        flex-direction: column;
        gap: 0.16em;
    }
    .link__container {
        display: flex;
        align-items: center;
        gap: 0.3em;
    }

    .link__ancord {
        font-size: 0.95em;
        text-transform: capitalize;
    }
    
    .link__ancord:hover {
        text-decoration: underline;
        color: var(--anchor-color);
    }
</style>