---
import { CFrontRoutes } from "@/models";
---

<nav class="nav" id="header__nav-list">
  <ul id="nav__list" class="nav__list">
    {
      Object.values(CFrontRoutes.static).map((route) => (
        <li>
          <a class={"nav__ancord"} href={route.path}>
            <span>{route.name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .nav {
    display: inline-flex;
    position: relative;
    font-size: 0.95em;
    background-color: var(--body-background-color);
    border: 0.1em solid var(--border-color);
    border-radius: 0.35em;
    box-shadow: #222222 0px 0px 5px;
  }

  .nav__list {
    display: flex;
    align-items: center;
    gap: 0.4em;
    list-style: none;
    min-height: 2em;
    padding: 0.2em;
  }

  .nav__ancord {
    display: flex;
    align-items: center;
    gap: 0.4em;
    border-radius: 0.2em;
    padding: 0 0.5263em;
    transition: 0.15s ease background-color;
    line-height: 1.8em;
  }

  .nav__ancord--selected {
    font-weight: 500;
    background-color: var(--secondary-background-color);
    animation: selectedAnimation 0.6s 1;
    border: none;
  }

  @keyframes selectedAnimation {
    0% {
      filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
    }
    50% {
      filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.664));

    }
    70% {
      filter: drop-shadow(0px 0px 50px rgba(255, 255, 255, 0.401));
    }
    100% {
      filter: drop-shadow(0px 0px 50px rgba(255, 255, 255, 0));
    }
  }
</style>

<script>
  const determinateSelectedNavItem = () => {
    const $list = document.getElementById("nav__list") as HTMLElement;

    const windowLocation = window.location.pathname
      .trim()
      .slice(1)
      .toLowerCase();

    for (let element of $list?.children) {
      const $liElement = element as HTMLLIElement;
      const $anchorElement = $liElement.children[0] as HTMLAnchorElement;

      const elementTextContent = $anchorElement.textContent
        ?.trim()
        .toLowerCase();

      const isInHomePath =
        elementTextContent === "home" && windowLocation === "";

      if (elementTextContent === windowLocation || isInHomePath) {
        $liElement.classList.add("nav__item--selected");
        $anchorElement.classList.add("nav__ancord--selected");
      }
    }
  };

  document.addEventListener("astro:load", determinateSelectedNavItem);
</script>
