---
import { CRoutes } from "@/models";
import { Image } from "astro:assets";
---

<nav class="nav" id="header__nav-list">
  <ul id="nav__list" class="nav__list">
    {
      Object.values(CRoutes).map((route) => (
        <li class={"nav__item"}>
          <a class={"nav__ancord"} href={route.path}>
            <Image src={route.iconData} alt={`${route.name} icon`} width="19" />
            <span>{route.name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .nav {
    display: flex;
    position: relative;
    font-size: 0.95em;
  }

  .nav__list {
    display: flex;
    align-items: center;
    gap: 0.4em;
    list-style: none;
    font-size: 0.92105em;
    min-height: 3.38em;
  }

  .nav__item {
    display: flex;
    position: relative;
    display: inline-block;
    padding: 0.42857142857em 0;
    border-bottom: 0.2em solid transparent;
    
  }

  .nav__ancord {
    display: flex;
    align-items: center;
    gap: 0.4em;
    border-radius: 0.4em;
    padding: 0 0.5263em;
    transition: 0.15s ease background-color;
    line-height: 2.14397em;
  }

  .nav__ancord--selected {
    font-weight: 800;
  }

  .nav__item--selected::after {
    content: "";
    position: absolute;
    bottom: calc(50% - 25px);
    background-color: #ec775c;
    height: 0.132em;
    width: 100%;
    border-radius: 0.1em;
  }

  .nav__ancord:hover {
    background-color: var(--card-background-color);
  }
</style>

<script>
  const determinateSelectedNavItem = () => {
    const $list = document.getElementById("nav__list") as HTMLElement;

    const windowLocation = window.location.pathname
      .trim()
      .slice(1)
      .toLowerCase();

    for (let element of $list?.children) {
      const $liElement = element as HTMLLIElement;
      const $anchorElement = $liElement.children[0] as HTMLAnchorElement;

      const elementTextContent = $anchorElement.textContent
        ?.trim()
        .toLowerCase();

      const isInHomePath =
        elementTextContent === "home" && windowLocation === "";

      if (elementTextContent === windowLocation || isInHomePath) {
        $liElement.classList.add("nav__item--selected");
        $anchorElement.classList.add("nav__ancord--selected");
      }
    }
  };

  document.addEventListener("astro:load", determinateSelectedNavItem);
</script>