---
import { CFrontRoutes, type PostData, type RelatedPostArray } from '@/models'
import { getEntry } from 'astro:content'

interface Props {
    relatedPosts: RelatedPostArray
}

const { relatedPosts } = Astro.props

---

<section class="recommendedPosts">
    <h4 class="recommendedPosts__title">Recommended posts</h4>
    <ul>
        {
            relatedPosts.map(async (relatedPost) => {
                const postData: PostData = await getEntry('posts', relatedPost.slug) as PostData

                return (
                    <li>
                        <a href={CFrontRoutes.dynamic.post(relatedPost.slug)}>{postData.data.title}</a>
                    </li>
                )
            })
        }
    </ul>
</section>

<style>
    .recommendedPosts {
        display: flex;
        flex-direction: column;
        gap: 0.2em;
        margin-top: 1em;
        padding-bottom: 0.5em;
    }

</style>