.carousel {
    background-color: black;
    border: 0.1em var(--border-color) solid;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0.1em;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.078));
}