.commandItem__container {
    padding: 0.5em;
}

.commandItem__title-container {
    display: flex;
    align-items: center;
    gap: 0.3em;
}
.commandItem__icon {
    width: 1.2em;
    height: 1.2em;
}

.commandItem__ancord {
    color: var(--ancord-color);
    text-decoration: underline;
}

.commandItem__time {
    margin-left: 0.3em;
    font-size: 0.7em;
}
.commandItem__container:hover {
    background-color: var(--card-background-color);
    border-radius: var(--border-radius-value);
}