.search {
  display: flex;
  align-items: center;
  color: white;
  gap: 0.5em;
  border: 0.1em solid var(--border-color);
  border-radius: var(--border-radius-value);
  color: var(--input-text-color);
  width: 22.875em;
  height: 2.6em;
  padding: 1em 0.6em;
  font-size: 0.85em;
  cursor: pointer;
}

.search__search-icon {
  width: 1.2em;
  height: 1.2em;
}

.search__command-icon {
  width: 1.5em;
  height: 1.5em;
}

.search__text {
  flex-grow: 1;
  border: none;
}

.search:hover {
  border-color: var(--ancord-color);
}