.post {
  font-size: 0.88em;

  display: inline-flex;
  flex-direction: column;
  border-width: max(1px, 0.0625rem);
  overflow: hidden;
  color: var(--secondary-text-color);
  padding: 1em;
  gap: 0.1em;
  border-top: 0.1em solid var(--border-color);
}

.post__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4em;
}

.post__title-container {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.post__time {
  font-size: 0.85em;
  text-transform: lowercase;
  text-wrap: balance;
}

.post__main {
  flex-grow: 1;
  font-size: 0.8em;
  overflow-y: auto;
}

.post__anchor {
  font-size: 0.97em;
  color: var(--secondary-text-color);
  font-weight: 600;
  text-wrap: balance;
}

@media (width < 1000px) {
  .post {
    gap: 0.4em;
  }

  .post__anchor--130 {
    font-size: clamp(0.5em,5vw,1.3em);
  }

}