---
import "@fontsource/roboto"

import "@/styles/global.css"
import "@/styles/normalize.css"

import Driver from "@/components/Driver/Driver.astro"
import Header from "@/components/Header.astro"
import MainSection from "@/components/Sections/MainSection.astro"
import { ViewTransitions } from "astro:transitions"

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="description"
      content="Web dev tips, productivity, and valuable skills."
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Jes015's blog" />
    <meta
      name="twitter:description"
      content="Web dev tips, productivity, and valuable skills."
    />
    <meta name="twitter:image" content="image" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div id="modal"></div>
    <Header />
    <Driver />
    <main>
      <div class="wrap">
        <div class="sectionLayout">
          <MainSection>
            <slot />
          </MainSection>
        </div>
      </div>
    </main>
    <style>
      .wrap {
        margin: auto;
        margin-top: 1.5em;
        width: 100%;
        max-width: 50dvw;
        max-width: 50vw;
      }

      .sectionLayout {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.8em;
      }

      .sectionLayout__second-container {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
      }

      @media (width <= 1150px) {
        .wrap {
          max-width: 60vw;
          max-width: 60dvw;
        }
      }

      @media (width <= 920px) {
        .wrap {
          max-width: 80vw;
          max-width: 80dvw;
        }
      }

      @media (width <= 680px) {
        .wrap {
          max-width: 90vw;
          max-width: 90dvw;
        }
      }

      @media (width <= 500px) {
        .wrap {
          max-width: 98vw;
          max-width: 98dvw;
        }
      }
    </style>
  </body>
</html>
