---
import "@fontsource/roboto"

import "@/styles/global.css"
import "@/styles/normalize.css"

import Header from "@/components/Header.astro"
import ProfileSection from "@/components/ProfileSection.astro"
import { ViewTransitions } from "astro:transitions"

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main>
      <div class="wrap">
        <div class="sectionLayout">
          <ProfileSection />
          <slot />
        </div>
      </div>
    </main>
    <style is:global>
      .wrap {
        margin: auto;
        margin-top: 1.5em;
        width: 100%;
        max-width: 89vw;
        max-width: 89vw;
      }

      .sectionLayout {
        width: 100%;
        display: grid;
        grid-template-columns: 18.5em 1fr;
        gap: 1.5em;
      }

      @media (width <= 1011px) {
        .sectionLayout {
          grid-template-columns: 1fr;
        }
      }

      @media (width >= 1380px) {
        .wrap {
          max-width: 80.8571428571dvw;
          max-width: 80.8571428571vw;
        }
      }
    </style>
  </body>
</html>
