---

interface Props {
    title?: string
    classLayout?: 'postLayout__main--flex'
}

const {title, classLayout} = Astro.props
---

<section id="layout__post">
    <header class="sectionLayout__header">
        <h2 class="sectionLayout__title">{title}</h2>
    </header>
    <main class={['postLayout__main', classLayout].join(' ')}>
        <slot />
    </ma>
</section>

<style>

    .sectionLayout__title {
        display: inline-block;
        position: relative;
        filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.4811));
    }

    .sectionLayout__header {
        margin-bottom: 1em
    }
    
    .postLayout__main {
        width: 100%;
        height: 100%;
    }

    .postLayout__main--flex {        
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    @media (width < 670px) {
        .postLayout__main {
            grid-template-columns: 1fr;
        }
    }
</style>